body {
    background-color: #444;
}

table {
    color: white;
    border: 2px solid white;
}

span:nth-child(1){
    color: gold;
}

span:nth-child(2) {
    color: #3e8ede;
}

span:nth-child(3) {
    color: #f25278;
}

span:nth-child(4) {
    color: #5DBB63;
}

span:nth-child(5) {
    background-image: linear-gradient(to left, violet, indigo, blue, lime, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
}

span:nth-child(6){
    color: silver;
}